<!DOCTYPE html>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" aria-label="Barra de navegación principal">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Práctica Bootstrap</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navCol" aria-controls="navCol" aria-expanded="false" aria-label="Alternar navegación">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navCol">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link active" href="#">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="#guia">Guía</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Contacto</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- filepath: c:\Users\JHORMAN\Desktop\192534\Construccion-de-una-Aplicacion-Web-Modularizada\trabajos-desarrollo-web\GIA3\Parte4\components\card.html -->
<div class="card mx-auto" style="width: 18rem;">
  <img src="https://picsum.photos/300/180" class="card-img-top" alt="imagen aleatoria">
  <div class="card-body">
    <h5 class="card-title">Componente Card</h5>
    <p class="card-text">Esta tarjeta muestra el uso de componentes de Bootstrap y JS puro.</p>
    <button class="btn btn-primary" id="btnSaludo">Saludar</button>
  </div>
</div>